<!DOCTYPE html>
<html>
<head>
    <title>Страница входа</title>
</head>
<body>
<h1>Добро пожаловать !</h1>
<form action="/authorization" method="POST">
    <label for="username">Логин учетной записи </label>
    <input type="text" id="username" name="username" required><br>
    <label for="username">Пароль  учетной записи </label>
    <input type="text" id="password" name="password" required><br>
    <input type="submit" value="Войти">
    <a href="Registration.html">Перейти на страницу регистрации</a>



</form>
</body>
</html>