<!DOCTYPE html>
<html>
<head>
    <title>Страница регистрации</title>
</head>
<body>
<h1>Добро пожаловать на страницу регистрации !</h1>
<form action="/login" method="post">

    <label for="username">Имя пользователя</label>
    <input type="text" id="username" name="Ваше Имя" required><br>

    <label for="username">Телефон</label>
    <input type="text" id="telephone" name="Ваш телефон" required><br>

    <label for="username">E-mail</label>
    <input type="text" id="e-mail" name="Ваше e-mail" required><br>

    <label for="username">Должность</label>
    <input type="text" id="position" name="Ваша должность" required><br>

    <label for="username">Пароль</label>
    <input type="text" id="password" name="Новый пароль" required><br>

    <label for="username">Логин</label>
    <input type="text" id="login" name="Новый логин" required><br>



    <input type="submit" value="Зарегистрироваться">


</form>
</body>
</html>